Updating origin
https://github.com/libertine-linux-mirrors/bison
Branch 'master' set up to track remote branch 'master' from 'origin'.
[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-mirrors/bison.git
	branch = master
	libertine-linux-upstream = git://git.sv.gnu.org/bison.git
